<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CJ 코로나맵</title>
    <link th:href="@{/css/mainBoard.css}" rel="stylesheet">
    <link href="webjars/bootstrap/4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.5.1/dist/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.5.2/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=63b8ae552a1d6fd059397bb974c37ad4"></script>
    <script th:src="@{/js/mainBoard.js}"></script>
</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="">
                    CJ 코로나맵
                </a>
            </li>
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a id="cheilJedang" href="/cheilJedang">제일제당</a>
            </li>
            <li>
                <a href="#">올리브네트웍스</a>
            </li>
            <li>
                <a href="#">올리브영</a>
            </li>
            <li>
                <a href="#">대한통운</a>
            </li>
            <li>
                <a href="#">ENM</a>
            </li>
            <li>
                <a href="#">오쇼핑</a>
            </li>
            <li>
                <a href="#">CGV</a>
            </li>
            <li>
                <a href="#">푸드빌</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div th:text="${createDt}">dd</div>
        <div class="row content-header">신종코로나바이러스-19</div>
        <div class="container">

            <div class="row corona-board">
                <div class="col-sm">
                    <div>확진자 수</div>
                    <div th:text="${decideCnt}">111</div>
                    <div style="display: flex;">(전일대비) <div id="decideCntRate" th:text="${decideCntRate}">+333</div></div>
                </div>
                <div class="col-sm">
                    <div>격리해제 수</div>
                    <div th:text="${clearCnt}">111</div>
                    <div style="display: flex;">(전일대비) <div id="clearCntRate" th:text="${clearCntRate}">+333</div></div>
                </div>
                <div class="col-sm">
                    <div>검사진행 수</div>
                    <div th:text="${examCnt}">111</div>
                    <div style="display: flex;">(전일대비) <div id="examCntRate" th:text="${examCntRate}">+333</div></div>
                </div>
                <div class="col-sm">
                    <div>사망자 수</div>
                    <div th:text="${deathCnt}">111</div>
                    <div style="display: flex;">(전일대비) <div id="deathCntRate" th:text="${deathCntRate}">+333</div></div>
                </div>
                <div class="col-sm">
                    <div>치료중 환자 수</div>
                    <div th:text="${careCnt}">111</div>
                    <div style="display: flex;">(전일대비) <div id="careCntRate" th:text="${careCntRate}">+333</div></div>
                </div>
            </div>
            <div style="font-size: 20px; margin-top: 30px;">CJ 제일제당</div>
            <div id="map" style="width:100%;height:500px;"></div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>

<script>
    $(function (){
        //기본 사이드 네비 세
        $('#cheilJedang').css("background","rgba(255,255,255,0.2)");
        $('#cheilJedang').css("color","#fff");
        $('#cheilJedang').css("text-decoration","none");

        const container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스

        let options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(37.564012, 127.003282), //지도의 중심좌표.
            level: 4 //지도의 레벨(확대, 축소 정도)
        };
        const map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        let mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        let zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        /*-------------------------------------마커------------------------------------------*/
        let locationData=[
            {title:'국립중앙의료원', latlng:new kakao.maps.LatLng(37.564012,127.003282)}
        ]
        // 마커가 표시될 위치입니다
        let markerPosition  = new kakao.maps.LatLng(37.563907, 127.003273);
        var imageSrc = '../img/CJ_Group_CI.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(45, 45), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(15, 40)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

        // 마커를 생성합니다
        let marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImage // 마커이미지 설정
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        setRateColor("decideCntRate,clearCntRate,examCntRate,deathCntRate,careCntRate");

    });
    function setRateColor(rateName){ //전일대비 컬러 설정
        let rateArr = rateName.split(',');
        for(let i in rateArr){
            let rate = $('#'+rateArr[i]);
            if(rate.text()[0]==='-'){   //전일 대비 - 이면 파란색
                rate.css('color','blue');
            }else{
                if(rate.text()[1]==='0'){    //전일 대비 + 인데 0 이면 노란색, 그냥 + 이면 빨간색
                    rate.css('color','yellow');
                }else{
                    rate.css('color','red');
                }
            }
        }

    }
</script>
</body>
</html>